*{
  list-style: none;
}

.home-layout{
  /* background: white; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border-radius: 10px;
}

.hero-container{
  background: url('./assets/home-page-hero-pic.avif'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  gap: 2rem;

  width: 100%;
  padding-inline: 40px;
  padding-top: 70px;
  padding-bottom: 50px;
  min-height: 800px;
  height: auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
}

.opening-text-container{
  color: white;
  display: inline-block;
  width: 460px;
  height: max-content;
  background: transparent;
  padding: 20px 40px 60px;
  border-radius: 20px;
  /* border: 1px solid;  */
  /* text-wrap: balance; */
  box-sizing: border-box;
}

.opening-text{
  padding-bottom: 40px;
}

.opening-text h1{
  text-wrap: balance;
  font-size: 3.4rem;
  padding-bottom: 20px;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.096);
}

.opening-text p{
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-layout{
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1rem;
}

.available-jobs-btn{
  background: #f09711;
  color: rgb(0, 0, 0);
  font-size: large;
  padding: 15px 20px;
  border-radius: 4px;
  border: none;
  transition: all 150ms;
  border: 2px solid #f09711;
  font-weight: 600;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
  cursor: pointer;
}

.available-jobs-btn:nth-child(2){
  background: transparent;
  color: white;
}

.available-jobs-btn:nth-child(2):hover{
  background: #f09711;
  color: black;
}

.available-jobs-btn:hover{
  background: transparent;
  color: white;
}

.image-container{
  align-self: end;
}

/* ---------------------------------------- Logo ----------------------------------------------------- */
.middle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  /* border: 1px solid; */
  width: fit-content;
  margin-inline: auto;
  text-align: center;
}

.middle-container h2{
  text-wrap: balance;
  padding-inline: 16px;
  font-size: 2rem;
  color: rgb(87, 87, 87);
}

.companies-logo-layout{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}

.company-logo-container{
  /* background: #f09711; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform: translateX(-100%);
  filter: blur(2px);
  opacity: 0;
}

.company-logo-container:nth-child(1){
  transition: 300ms;
}
.company-logo-container:nth-child(2){
  transition: 450ms;
}
.company-logo-container:nth-child(3){
  transition: 600ms;
}
.company-logo-container:nth-child(4){
  transition: 750ms;
}

.show-logo{
  transform: translateX(0);
  filter: blur(0);
  opacity: 1;
}

.company-logo-container img {
  width: 100%;
}

.company-logo-container:nth-child(3) img{
  border-radius: 7px;
}

/*----------------------------------------- Reviews ----------------------------------------------------*/

.reviews-container{
  /* background: whitesmoke; */
  padding-top: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px ;
}

.reviews-container h3{
  color: #575757;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.reviews-card-layout{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.3rem;
  padding: 0px 20px 20px 20px;
}

.review-card{
  /* height: max-content; */
  max-width: 450px;
  padding: 25px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.pp-container{
  height: 68px;
  width: 64px;
}

.pp-container img{
  width: 64px;
  height: 64px;
}

.upper-container{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 5px;
}

.ratings-container img{
  width: 100px;
  height: 16px;
}

.user-highlight{
  font-weight: 600;
}

.text-container{
  padding-top: 15px;
  text-wrap: balance;
}

.text-container h5{
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 4px
}

.text-container p{
  line-height: 1.4;
}