*{
  font-family: 'Sen', 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  list-style: none;
}

ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 1.5rem;
}

.card{
  position: relative;

  display: flex;
  gap: 2.5rem;
  padding: 25px;
  max-width: 562px;
  min-height: 393px;
  height: auto;
  overflow: none;
  border-radius: 5px;
  background: #fcb242;
  transition: all 200ms;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.25);
}

.card:hover, .card:focus{
  scale: 0.97;
  /* color: white;
  background: rgb(0, 0, 0); */
}

.job-log-container{
  display: grid;
  place-items: center;
  background: transparent;
  border-radius: 50%;
  min-width: 78px;
  height: 78px;
  max-width: 58px;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.25);
}

.job-log-container img{
  width: 100%;
  height: 100%;
}

.job-description{
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.4;
  text-wrap: balance;
}

.job-title{
  font-size: 2rem;
  padding-bottom: 5px;
}

/* .searched{
  background-color: white;
  width: max-content;
  border-radius: 5px;
} */

.job-position{
  font-size: 1.3rem;
}

.info{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-bottom: 45px;
}

.date{
  position: absolute;
  bottom: 15px;
  right: 15px;
}
