header{
  display: flex;
  justify-content: center;
  height: 110px;
  width: 100%;
  min-width: 375px;
  /* border-bottom: 1px solid; */
  /* box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.226); */
}

.header-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1700px;
}

nav{
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-right: 6rem;
  margin-bottom: 20px;
}

nav li {
  font-size: 1.2rem;
  cursor: pointer;
}

.title-container{
  padding: 33px 50px;
  width: max-content;
}

.title-container img{
  width: 350px;
}

.review-card{
  border: 1px solid ;
}

/* .active{
  background: #f09711;
  color: black;
  border-radius: 7px;
  padding: 10px;
} */