*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Sen', 'Roboto', 'arial', sans-serif;
}

body{
  position: relative;
  background: whitesmoke;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', 'Arial', '';
}

.job-form-container{
  position: relative; 
  display: flex; 
  flex-direction: column;
  gap: 3rem;
  
  margin-inline: auto;
  max-width: 1700px;
  padding-bottom: 20px;
}

