*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Sen', 'Roboto', 'arial', sans-serif;
}

html{
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: 15px;
}

html::-webkit-scrollbar-track{
  background: rgba(245, 245, 245, 0);
}

html::-webkit-scrollbar-thumb{
  background: rgba(37, 37, 38, 0.801);
}

body{
  background-image: none;
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100vw;
}

.job-form-container{
  position: relative; 
  display: flex; 
  flex-direction: column;
  gap: 3rem;
  
  margin-inline: auto;
  max-width: 1700px;
  padding-bottom: 20px;
}

