@media(width > 1700px){
  .jobb-hero-img{
    height: 800px;
  }

  .search-opening-text-container{
    min-height: 650px;
    align-items: center;
  }

  .job-form{
    top: 540px;
  }

  .home-layout{
    box-shadow: none;
  }
}

/* @media(height < 870px){
  .show-menu{
    
  }
} */

@media(width < 1249px){

  /*-----side menu------  */
  .sign-out-img-container{
    display: inline-block;
  }

  .sign-out-btn{
    padding-left: 0px;
  }

  .link-options a{
    font-size: 1.5rem;
    width: 80%;
    border-bottom: 2px solid;
    text-decoration: none;
  }
  
  .link-options{
    position: fixed;
    top: 0;
    right: 0;
  
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
    min-height: 850px;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    translate: 100% 0;
    z-index: 10000;
  }

  .chevron{
    position: absolute;
    right: 0;
    
    content: '';
    object-fit: contain;
    object-position: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }


  .show-menu{
    translate: 0% 0;
    overflow: auto;
  }

  .menu{
    display: flex;
    z-index: 20000;
  }
  /* ------------------- */
}

@media(width < 761px){
  .side-img-container{
    display: none;
  }

  .reviews-card-layout{
    place-items: center;
  }
}

@media(width < 601px){
   .header-container{
    padding-inline: 10px;
  }

  .title-container{
    scale: 0.8;
  }

  .home-layout{
    width: 100vw;
  }

  .opening-text h1, .search-opening-text h1{
    font-size: 2.5rem;
  }

  .opening-text p, .search-opening-text p{
    font-size: 1rem;
  }

   .home-upper-container{
    padding-inline: 0px;
  } 

  .middle-container h2{
    font-size: 1.2rem;
  }

  .company-logo-container{
    width: 45px;
    height: 45px;
  }

  .job-form-container{
    width: 100vw;
  } 

}

@media(width < 520px){
  .hero-container{
    padding-inline: 0px;
  }

  .opening-text h1{
    font-size: 1.5rem;
  }

  .opening-text p{
    font-size: 0.75rem;
  }

  .available-jobs-btn{
    font-size: 0.75rem;
  }
}
