@media(width < 1700px){
  .home-layout{
    box-shadow: none;
  }
}

@media(width < 1001px){
  /* .job-form-container{
    margin: 53px 10px;
  } */
}

@media(width < 862px){
  .card{
    max-width: none;
  }

  nav{
    display: none;
  }
  
  .title-container{
    padding: 53px 30px ;
  }
  
  .title-container img{
    width: 250px;
  }
}

@media(width < 761px){
  .reviews-card-layout{
    place-items: center;
  }
}

@media(width < 601px){

  .job-form-container{
    margin: 53px 0px;
  }

  .home-layout{
    width: 100vw;
  }

  .home-upper-container{
    padding-inline: 0px;
  }
  

  .card{
    gap: 1.5rem;
  }
}

@media(width < 520px){
  .hero-container{
    padding-inline: 0px;
  }
}