@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');


header{
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
  background: transparent;
  padding-bottom: 20px;
  position: relative;
  z-index: 1000;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 1700px;
  background: transparent;
  /* background: bisque; */
  padding-inline: 25px;
}

.link-options{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.link-options > a, button{
  position: relative;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  background: transparent;
}


.profile-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.profile-container img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: whitesmoke;
}

.link-options button{
  border-radius: 10px;
}

.title-container{
  position: relative;
  z-index: 300000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.char-in-logo{
  position: absolute;
  top: 17px;
  right: 33px;
  
  font-family: "Sanchez", "Sen", "Roboto", "Arial", serif;
  font-size: 1.2rem;
}

.title-container img{
  width: 60px;
  height: 60px;
}

.review-card{
  border: 1px solid ;
}

.sign-out-cont{
  display: flex;
  align-items: center;
}

.sign-out-img-container{
  display: none;
  border-radius: 40%;
  height: 25px;
  width: 25px;
}

.sign-out-img-container img{
  width: 100%;
  height: 100%;
}

.sign-out-btn{
  padding-left: 100px;
  border: none;
  background: transparent;
}
