:root{
  --bar-width: 35px;
  --bar-height: 5px;
  --hamburgar-gap: 5px;
  --bg-color: rgb(0, 0, 0);
  --margin: 12px; 
  --menu-height: calc(var(--bar-height) * 3 + var(--hamburgar-gap) * 2);
  --animation-timing: 200ms ease-in;
}

.menu{
  --x-width: calc(var(--menu-height) * 1.41421356237);
  
  display: none;
  flex-direction: column;
  gap: var(--hamburgar-gap);
  align-items: center;
  width: max-content;
  z-index: 2;
  
  position: absolute;
  top:  75px;
  right: 35px;
}

.bar{
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--bg-color);
  transform-origin: left center;
  border-radius: 1000px;
  cursor: pointer;
  transition: 
    rotate var(--animation-timing), 
    translate var(--animation-timing), 
    opacity 150ms,
    background-color 250ms
}

.menu input{
  appearance: none;
  outline: none;
}

.menu:has(input:checked) .bar:nth-child(1){
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -1.1);
}

.menu:has(input:checked) .bar:nth-child(3){
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height)) / 1.5;
}

.menu input:checked{
  opacity: 0;
}

/* Removes the scrollbar when the side menu is open. */
html:has(.menu > input:checked){
  overflow-y: hidden;
}